$color-main: #323847;
$color-lighter: #C2C3C8;

$font-default: InterVar, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$weight-regular: 450;
$weight-medium: 520;
$weight-semibold: 600;
$weight-bold: 700;
$weight-black: 850;

$transition-duration: 0.2s;

$canvas-offset-y: 48%;
$canvas-translate-y: translateY(-48%);
